@font-face {
   font-family: 'Lato 400';
   src: url(../../fonts/lato-regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: 'Red Hat Display 400' ;
   src: url(../../fonts/RedHatDisplay-Regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: 'Red Hat Display 600';
   src: url(../../fonts/red-hat-display-v14-latin-600.woff2);
   font-weight: 600;
}
