@font-face {
   font-family: 'PT Sans reg';
   src: url("../fonts/PT_Sans_Regular.woff2") format("woff2");
   font-weight: 400;
}

@font-face {
   font-family: 'Francois One';
   src: url("../fonts/francois-one.regular.woff2") format("woff2");
   font-weight: 400;
}

@font-face {
   font-family: 'PT Sans bold';
   src: url("../fonts/PT_Sans-Web-Bold.woff2") format("woff2");
   font-weight: 700;
}

@font-face {
   font-family: 'PT Sans ital';
   src: url("../fonts/PT_Sans-Web-Italic.woff2") format("woff2");
   font-weight: 400;
}

@font-face {
   font-family: 'Farro';
   src: url("../fonts/farro-light.woff2") format("woff2");
   font-weight: 300;
}

@font-face {
   font-family: 'Staatliches';
   src: url("../fonts/Staatliches-Regular.woff2") format("woff2");
   font-weight: 400;
}

@font-face {
   font-family: 'Tourney';
   src: url("../fonts/Tourney-SemiBold.woff2") format("woff2");
   font-weight: 600;
}