@font-face {
   font-family: 'Lato 400';
   src: url(../../fonts/lato-regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: 'Roboto 400';
   src: url(../../fonts/roboto-regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: 'Red Hat Display 700';
   src: url(../../fonts/RedHatDisplay-Bold.woff2);
   font-weight: 700;
}

@font-face {
   font-family: 'Red Hat Display 400' ;
   src: url(../../fonts/RedHatDisplay-Regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: 'Red Hat Display 500' ;
   src: url(../../fonts/RedHatDisplay-Medium.woff2);
   font-weight: 500;
}

@font-face {
   font-family: 'Red Hat Display 600';
   src: url(../../fonts/red-hat-display-v14-latin-600.woff2);
   font-weight: 600;
}

@font-face {
   font-family: 'Lato 700';
   src: url(../../fonts/Lato-Bold.woff2);
   font-weight: 700;
}

@font-face {
   font-family: 'Lato 500';;
   src: url(../../fonts/Lato-Medium.woff2);
   font-weight: 500;
}
