* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-sixe-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto-Black.woff2);
  font-weight: 900;
}
@font-face {
  font-family: "Raleway med";
  src: url(../../fonts/Raleway-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Raleway reg";
  src: url(../../fonts/Raleway-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.body__header {
  max-width: 450px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 150px auto 40px;
}
.header__subtitle {
  font-family: "Raleway med";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #898F8F;
  margin-bottom: 15px;
}
.header__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #FFCC00;
  margin-bottom: 40px;
}
.header__divider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__line {
  background: #FFCC00;
  width: 210px;
  height: 1px;
}
.header__sharp {
  width: 20px;
  height: 20px;
}

.body__main {
  width: 1030px;
  height: 560px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.main__photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 430px;
  height: 430px;
}
.main__photo img {
  width: 400px;
  height: 400px;
}
.main__line-photo {
  position: absolute;
  width: 100px;
  height: 100px;
}
.main .top-left {
  top: 0;
  left: 0;
  border-top: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
}
.main .top-right {
  top: 0;
  right: 0;
  border-top: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
}
.main .bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #FFCC00;
  border-left: 1px solid #FFCC00;
}
.main .bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00;
}
.main__wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  border-left: 1px solid #FFCC00;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.main__inf {
  box-sizing: border-box;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.main__info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
}
.main__divider {
  width: 100px;
  height: 1px;
  background: #FFCC00;
}
.main__profession {
  font-family: "Raleway reg";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
}
.main__icons {
  display: flex;
  gap: 5px;
  padding: 30px 0 49px 0;
}
.main__discription {
  font-family: "Raleway med";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding-bottom: 20px;
}
.main__divider2 {
  width: 50px;
  display: flex;
  gap: 5px;
}
.main .parts {
  height: 4px;
}
.main .parts__part-short {
  width: 10px;
  background: #FFCC00;
}
.main .parts__part-long {
  width: 20px;
  background: #FFCC00;
}
.main__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 118px;
  height: 24px;
  border: 1px solid #FFCC00;
  margin-top: 20px;
}
.main__button a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #666666;
}