@font-face {
   font-family:'Roboto';
   src: url(../../fonts/roboto-regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family:'Roboto med';
   src: url(../../fonts/Roboto-Medium.woff2);
   font-weight: 600;
}

@font-face {
   font-family:'Quicksand';
   src: url(../../fonts/Quicksand-Medium.woff2);
   font-weight: 500;
}

@font-face {
   font-family:'Nunito Sans';
   src: url(../../fonts/NunitoSans-SemiBold.woff2);
   font-weight: 600;
}