@import "_zero.scss";
@import "_fonts.scss";

body {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
}

*{transition: all .1s ease-in;}

.header {
   &__logo {
      display: flex;
      align-items: center;
      gap: 12.55px;
      padding: 22.5px 0px;
   }
   &__title {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 35px;
      color: #16133D;
   }
}

.main {
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 100px;
   }
   &__titles h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #7690A8;
   }
   &__titles h2 {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0.2px;
      color: #16133D;
      margin: 15px 0px 40px;   
   }

   &__main-text {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .main-text__issues:not(:last-child) {
         margin-right: 30px;
      }
   
      .main-text__issues {
         display: flex;
         flex-direction: column;
         gap: 30px;
         justify-content: center;
         padding: 40px;
         border: 1px solid #E5EAF4;
         border-radius: 8px;
      }
   
      .main-text__issues:hover {
         border: 1px solid #3DB370;
      }
      .main-text__img {
         border: 1px solid rgba(21, 101, 216, 0.1);
         border-radius: 16px;
         width: 64px;
         height: 64px;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   
      .main-text__issues:hover .row1 {
            fill:#E1F4F5;
         }
      .main-text__issues:hover .row2 {
            fill:#E1F4F5;
         }
      .main-text__issues:hover .row3 {
            fill: #F4FEFF;
         }
      .main-text__issues:hover .row4 {
            fill:#CAEFF2;
         }
      .main-text__issues:hover .row5 {
            fill:#E1F4F5;
         }
      .main-text__issues:hover.row6 {
            fill: #CAEFF2;
         }
      .main-text__issues:hover .row7 {
            fill:#CAEFF2;
         }
      .main-text__issues:hover .row8 {
            fill:#52C29D;
         }
      .main-text__issues:hover .row9 {
            fill:white;
         }
         
      .main-text__title {
         font-family: 'Roboto';
         font-weight: 400;
         font-size: 24px;
         line-height: 89%;
         letter-spacing: 0.2px;
         color: #16133D;
      }
      .main-text__description {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 175%;
         color: #16133D;
      }
   
      .main-text__button a {
         font-family: 'Roboto med';
         font-weight: 600;
         font-size: 16px;
         line-height: 19px;
         color: #3DB370;
      }
   }   
}

.footer {
   background: #16133D;

   &__wrapper {
      display: flex;
      flex-direction: column;
   }

   &__logo {
      display: flex;
      align-items: center;
      gap: 12.55px;
      padding: 39.5px 0px 40.5px;
   }
   &__title {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 35px;
      color: #FFFFFF;
   }

   &__icons {
      display: flex;
      gap: 10px;
      padding-bottom: 40px;
   }
   &__icon {
   width: 38px;
   height: 38px;
   background: #EFEEF3;
   border-radius: 5px;
   }
   &__svg {
      padding: 9px;
   }
   &__svg:hover {
   fill:#3DB370;
   }
}