
@media (max-width: 767px) {
   .footer {
      min-height: 86px;
      
      &__items {
         display: grid;
         grid-template-rows: repeat(3, 1fr);
         gap: 5px;
         padding-top: 10px;
         align-items: center;
         justify-content: center;
      }

      &__made-by {
         display: flex;
         gap: 12px;
         align-items: center;
         justify-content: center;
         padding-top: 10px;
      }

      &__links {
         display: flex;
         gap: 32px;
         padding-bottom: 5px;
      }

      &__copyright {
         display: flex;
         justify-content: center;
      }
   }
}