@font-face {
   font-family:'Roboto';
   src: url(../../fonts/Roboto-Black.woff2);
   font-weight: 900;
}

@font-face {
   font-family:'Raleway med';
   src: url(../../fonts/Raleway-Medium.woff2);
   font-weight: 500;
}

@font-face {
   font-family:'Raleway reg';
   src: url(../../fonts/Raleway-Regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family:'Open Sans';
   src: url(../../fonts/OpenSans-Bold.woff2);
   font-weight: 700;
}