@font-face {
   font-family:'Lato';
   src: url(../fonts/latolight.woff),
   url(../fonts/latolight.woff2);
   font-weight: 300;
}

@font-face {
   font-family:'Lato';
   src: url(../fonts/latoregular.woff),
   url(../fonts/latoregular.woff2);
   font-weight: 400;
}

@font-face {
   font-family:'Lato';
   src: url(../fonts/latobold.woff),
   url(../fonts/latobold.woff2);
   font-weight: 700;
}

@font-face {
   font-family:'Lato';
   src: url(../fonts/latosemibold.woff),
   url(../fonts/latosemibold.woff2);
   font-weight: 600;
}

@font-face {
   font-family:'Playfair Display';
   src: url(../fonts/PlayfairDisplay-Regular.woff),
   url(../fonts/PlayfairDisplay-Regular.woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family:'Playfair Display';
   src: url(../fonts/PlayfairDisplay-Italic.woff),
   url(../fonts/PlayfairDisplay-Italic.woff2);
   font-weight: 400;
   font-style: italic;
}

