*{
   padding: 0;margin: 0;
   border: 0;
   user-select: none;
}
*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   touch-action: pan-x pan-y;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   position: fixed;
   width: 100%;
   top: 0px;
   height: 80px;
   background:white;
   z-index: 2;
}

.header__block {
   top: 13px;
   min-height: 54px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.header__language {
   font-family: 'Tourney';
   font-weight: 600;
   font-size: 22px;
   line-height: 18px;
   text-align: center;
   letter-spacing: 0.04em;
   position: absolute;
   top: 16px;
   left: 0px;
}
.header__menu {
   position: absolute;
   top: 17px;
   left: 100px;
}

.menu__item {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.menu__link {
   font-family: 'Staatliches';
   font-weight: 400;
   font-size: 22px;
   line-height: 28px;
   letter-spacing: 0.03em;
   color: #000000;
}
.header__logo {
   position: absolute;
   top: 3px;
   right: 0px;
}


.title {
   padding-top: 90px;
   padding-bottom: 45px;
   display: flex;
   align-items: center;
   gap: 20px;
}

.title__divider {
   width: 100px;
   height: 8px;
   background: #000000;
}

.title__using {
   Font-family: 'Roboto';
   font-weight: 600;
   font-size: 36px;
   line-height: 48px;
   letter-spacing: 0.04em;
   color: #000000;
}


.second-page {
   max-width: 1200px;
   margin: 0 auto;
   border: 1px solid #BFBFBF;
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   gap: 30px;
   padding: 15px;
}

.logobox {
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;      
}

.logobox__logo {  
   box-sizing: border-box;
   width: 270px;
   height: 180px;
   perspective: 1000px;
   }

.logo__box {
   position: relative;
   width: 100%;
   height: 100%;
   background-color: #E6E6E6;
   border-radius: 8px;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   }

.logobox__logo:hover .logo__box{
   transform: rotateX(180deg);
   }

.logo__front, .logo__back {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }
   
   .logo__back {
   background-color: black;
   transform: rotateX(180deg);
   border-radius: 8px;
   }


