.container {
   max-width: 1200px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
}

.navigation__wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
}

.navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 5px;

   &__logo {
      position: relative;
      z-index: 5;
   }

   &__wrapper-burger {
      display: flex;
      gap: 90px;
      position: relative;
      z-index: 2;
   }

   &__nav {
      display: flex;
      gap: 40px;
   }

   &__link, &__link2 {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      text-align: center;
      gap: 14px;
      transition-duration: 0.3s;

      .fa-circle {
         font-size: 9px;
         border-radius: 50%;
      }

      .fa-circle, span {
         display: block;
      }
   }

   &__link:hover {
      font-size: 15px;

      .fa-circle {
         font-size: 10px;
      }
   }
   &__link._active {
      i {
         display: block;
         width: 9px;
         height: 9px;
         border-radius: 50%;
         background-color: white;
      }
   }

   &__link2 {
      display: none;
   }

   &__logo {
      transition-duration: 0.3s;
   }

   &__logo:hover {
      transform: scale(1.05);
   }
   &__socials {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
   }
   &__social {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      border: 1px solid rgb(255, 255, 255, 0.4);
      transition-duration: 0.5s;

      i {
         font-size: 16px;
         line-height: 18px;
         color: rgba(255, 255, 255);
         transition-duration: 0.5s;
      }
   }

   &__social:hover {
      background-color: rgb(255, 255, 255, 0.8);
      transform: scale(0.9);

      i {
         color: rgb(84, 86, 193);
         font-size: 20px;
      }
   }
}

.navigation__wrapper::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(243.43deg, rgb(126, 90, 255,0.5) 16.9%, rgb(85, 183, 255, 0.5) 83.27%);
   z-index: 2;
   }

.navigation__burger {
      display: none;

      span {
         width: 100%;
         height: 3px;
         background-color: white;
         position: absolute;
         top: 9px;
         right: 0;
      }
   }

   @media (max-width: 1100px) {
      .navigation {
      
         &__logo {
            width: 130px;
            height: auto;
         }
         &__wrapper-burger {
            gap: 20px;
         }
      
         &__nav {
            gap: 20px;
         }
      }
   }

   @media (max-width: 1023px) {
   
      .navigation__link {
         display: none;
      }
   
      .navigation__link2 {
         display: inherit;
   
         :hover {
            transform: scale(1.05);
            transition-duration: 0.3s;
         }
         }
   
      .navigation__burger {
         display: block;
         position: relative;
         width: 34px;
         height: 20px;
         z-index: 3;
         right: 0;
      }
   
      .navigation__nav {
         flex-direction: column;
         gap: 40px;
      }
   
      .navigation__wrapper-burger {
         gap: 50px;
      }
   
      .navigation__burger::before, .navigation__burger::after {
         content: '';
         width: 100%;
         height: 3px;
         background-color: white;
         position: absolute;
         left: 0;
      }
   
      .navigation__burger::before {
         content: '';
         top: 0;
      }
   
      .navigation__burger::after {
         content: '';
         bottom: 0;
      }
      
      .navigation__burger.active span {
         transform: scale(0);
      }
      .navigation__burger.active::before {
         transform: rotate(45deg);
         top: 9px;
      }
   
      .navigation__burger.active::after {
         transform: rotate(-45deg);
         bottom: 9px;
      }
   
      .navigation__wrapper-burger {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 500px;
         overflow: auto;
         padding-top: 67px;
         transition: all 0.5s ease-in;
         background-color: #7E5AFF;
      }
   
      .navigation__wrapper-burger.active {
         top: 0px;
         transition: all 0.5s ease-in;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding-left: 20px;
         padding-top: 67px;
      }
   }