@font-face {
   font-family: 'Montserrat 400';
   src: url(../../fonts/Montserrat-Regular.woff2);
   font-weight: 400;
}

@font-face {
   font-family: 'Montserrat 700';
   src: url(../../fonts/Montserrat-Bold.woff2);
   font-weight: 700;
}


@font-face {
   font-family: 'Montserrat 500' ;
   src: url(../../fonts/Montserrat-Medium.woff2);
   font-weight: 500;
}
