@import "_zero.scss" , "_fonts.scss" , "_icomoon.scss";


* {
   transition: 0.3s;
}

.container {
   max-width: 1170px;
   width: 100%;
   margin: 0 auto;
}

body {
   display: grid;
   grid-template-columns: 110px 1fr;
}

.body.active {
   grid-template-columns: 80px 1fr;
}

.body__side-bar {
   background-color: #283046;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
   position: relative;


   .side-bar__button {
      width: 20px;
      height: 20px;
      background-image: url(../../img/sidebar/Vector.svg);
      position: absolute;
      top: 36px;
      left: 90%;
   }

   .side-bar__button.active {
      background-image: url(../../img/sidebar/Vector2.svg)
   }

   .side-bar {
      &__nav {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
         gap: 40px;
         
         .nav {
            &__logo {
               padding-top: 30px;
            }

            &__main-nav {
               display: flex;
               flex-direction: column;
               gap: 30px;
            }

            &__main-nav.active {
               .nav__app {
                  width: 80px;
               }

               .nav__apps {
                  .nav__app p {
                     color: #283046;
                  }
               }
               .nav__app p {
                  color: #283046;
               }
            }

            &__apps {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               gap: 11px;

            }

            &__divider {
               display: block;
               width: 15px;
               height: 4px;
               position: relative;
               background-color: #9E8CFC;
               border-radius: 25%;
               }

            &__divider::before , &__divider::after {
               content: '';
               width: 7.5px;
               height: 4px;
               background-color: #9E8CFC;
               border-radius: 25%;
               position: absolute;
               top: 0px;
            }
               
               &__divider::before{
               left: -12.5px;
            }

            &__divider::after {
               right: -12.5px;
            }

            &__app {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 11px;
               justify-content: center;
               padding: 10px 0;
               width: 110px;
               height: 80px;

               p {
                  font-family: 'Montserrat 400';
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 17px;
                  color: #FFFFFF;
               }               
            }
         }
         
         .nav__app:hover {
            content: '';
            background: #9E8CFC;
            box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
            cursor: url("../../img/cursor.svg") , pointer;

            a svg path {
               fill:white;
            }
         }

         .mail , .chats , .calendar {
            position: relative;               

         }
         .mail:after , .chats::after , .calendar::after {
            content: '';
            position: absolute;
            top: 5px;
            right: 23%;
            width: 20px;
            height: 20px;           
            border-radius: 50%;
            font-family: 'Montserrat 700';
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #4F4F4F;
            padding: 2px;
         }
         .mail:after {
            content: '25';
            background-color:#6FCF97;
         }

         .chats:after {
            content: '10';
            background: #EA5455;
         }

         .calendar:after {
            content: '5';
            background: #F2C94C;
         }
      }
   }   
}


.body__main-page {
   background-color:#161D31;

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 10px 20px;

      span {
         display: block;
         font-size: 26px;
      }  
   
      &__quick-panel {
      display: flex;
      gap: 20px;
      }

      &__settings {
         display: flex;
         gap: 50px;
         justify-content: center;
         align-items: center;
      }

      &__lang {
         display: flex;
         gap: 20px;
         align-items: center;
         justify-content: center;
         span {
            font-family: 'Montserrat 400';
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #BDBDBD;
         }
         :hover {
            content: '';
            color: white;
            cursor: url("../../img/cursor.svg") , pointer;
         }
      }

      &__set {
         display: flex;
         gap:20px;
      }

      &__avatar img:hover {
         content: '';
         cursor: url("../../img/cursor.svg") , pointer;
         box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
         border-radius: 50%;
      }
   }

   .main {

      margin-top: 20px;

      &__wrapper {
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
      }

      &__bg {
         overflow: hidden;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}

.body__side-bar:hover + .body__main-page .main{
   filter: blur(10px);
}

.header:hover + .main{
   filter: blur(10px);
}