* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-sixe-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Lato 400";
  src: url(../../fonts/lato-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto 400";
  src: url(../../fonts/roboto-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Red Hat Display 700";
  src: url(../../fonts/RedHatDisplay-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Red Hat Display 400";
  src: url(../../fonts/RedHatDisplay-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Red Hat Display 500";
  src: url(../../fonts/RedHatDisplay-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Display 600";
  src: url(../../fonts/red-hat-display-v14-latin-600.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "Lato 700";
  src: url(../../fonts/Lato-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Lato 500";
  src: url(../../fonts/Lato-Medium.woff2);
  font-weight: 500;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

* {
  transition: all 0.3s ease-in;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #ffffff;
}
.header__burger {
  display: none;
}
.header__burger span {
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 9px;
  left: 0;
}
.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 100px;
}
.header__logo {
  max-width: 141.79px;
  min-height: 12px;
  z-index: 3;
}
.header__logo img {
  display: block;
  object-fit: cover;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.header__link {
  position: relative;
  z-index: 2;
}
.header__link a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}
.header__link:hover a {
  text-decoration: underline;
}
.header__search {
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  header {
    min-height: 60px;
  }
  .body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 34px;
    height: 20px;
    z-index: 3;
    right: 0;
  }
  .header__wrapper {
    min-height: 60px;
    position: relative;
  }
  .header__logo {
    max-width: 145px;
    min-height: 13px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 0;
  }
  .header__burger::before {
    content: "";
    top: 0;
  }
  .header__burger::after {
    content: "";
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    padding-top: 80px;
    transition: all 0.5s ease-in;
  }
  .header__nav.active {
    top: 0px;
    transition: all 0.5s ease-in;
  }
  .header__search {
    z-index: 3;
    position: absolute;
    right: 74px;
  }
  .header__list {
    flex-direction: column;
  }
  .header__link a {
    font-size: 18px;
  }
}
.main {
  padding-top: 100px;
}
@media (max-width: 320px) {
  .main {
    padding-top: 70px;
  }
}
.main__first-screen {
  min-height: 600px;
  position: relative;
}
.main__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.main__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main__title {
  padding-top: 100px;
}
.main__title h1 {
  font-family: "Red Hat Display 600";
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.05em;
  max-width: 770px;
}
@media (max-width: 320px) {
  .main__first-screen {
    min-height: 500px;
  }
  .main__title {
    padding-top: 70px;
  }
  .main__title h1 {
    font-size: 30px;
    line-height: 167%;
  }
  .main__image img {
    object-position: center;
  }
}
.main__blog {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main__title-blog {
  font-family: "Red Hat Display 400";
  font-weight: 400;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: #000000;
}
.main .blog__section1 {
  position: relative;
  min-height: 470px;
  display: flex;
}
.main .blog__section1 .blog__image {
  position: absolute;
  max-width: 49%;
  min-height: 470px;
  top: 0;
  left: 0;
}
.main .blog__section1 .blog__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main .blog__section1 .blog__text {
  position: absolute;
  top: 0;
  right: 0;
}
.main .blog__section2 {
  position: relative;
  min-height: 470px;
}
.main .blog__section2 .blog__image {
  position: absolute;
  max-width: 49%;
  min-height: 470px;
  top: 0;
  right: 0;
}
.main .blog__section2 .blog__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main .blog__section2 .blog__text {
  position: absolute;
  top: 0;
  left: 0;
}
.main .blog__text {
  padding: 5% 10% 3% 2%;
  display: flex;
  flex-direction: column;
  width: 49%;
  min-height: 470px;
}
.main .blog__subtitle {
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  padding-bottom: 30px;
}
.main .blog__title {
  font-family: "Red Hat Display 500";
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  padding-bottom: 15px;
}
.main .blog__date {
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  padding-bottom: 50px;
}
.main .blog__link a {
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
.main .blog__link ::after {
  content: url(../../img/Arrow1.svg);
  margin-left: 5px;
}
@media (max-width: 320px) {
  .main__blog {
    margin-top: 70px;
  }
  .main__title-blog {
    margin: 0 auto;
  }
  .main .blog__section1 {
    position: relative;
    min-height: 600px;
  }
  .main .blog__section1 .blog__image {
    position: absolute;
    max-width: 98%;
    min-height: 250px;
    top: 62%;
    left: 0;
  }
  .main .blog__section1 .blog__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
  }
  .main .blog__section2 {
    position: relative;
    min-height: 600px;
  }
  .main .blog__section2 .blog__image {
    position: absolute;
    max-width: 98%;
    min-height: 250px;
    top: 62%;
    left: 0;
  }
  .main .blog__section2 .blog__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    min-height: 320px;
  }
  .main .blog__subtitle {
    padding-bottom: 30px;
  }
  .main .blog__title {
    padding-bottom: 10px;
  }
  .main .blog__date {
    padding-bottom: 40px;
  }
}
.main__latest-posts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 90px;
}
.main .main-bloks__title {
  display: flex;
  justify-content: space-between;
  font-family: "Red Hat Display 600";
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
.main .link a {
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.main .link::after {
  content: url(../../img/Arrow1.svg);
  margin-left: 5px;
}
.main .main-bloks__descriptions {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main .main-bloks__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main .main-bloks__img {
  position: relative;
  max-width: 370px;
  min-height: 260px;
}
.main .main-bloks__img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main .main-bloks__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main .main-bloks__titles {
  display: flex;
  justify-content: space-between;
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.main .main-bloks__post h3 {
  font-family: "Red Hat Display 500";
  font-weight: 500;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.main .main-bloks__post p {
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 320px) {
  .main .main-bloks__title {
    flex-direction: column;
    justify-content: flex-start;
  }
  .main .main-bloks__descriptions {
    flex-direction: column;
  }
}
.main__most-popular {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  gap: 50px;
}
.main .popular-img {
  max-width: 570px;
  min-height: 260px;
  position: relative;
}
.main .popular-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main .popular-description {
  width: 50%;
}
.main .main-bloks__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 180px;
  height: 46px;
  background: #565656;
  margin: 0 auto;
}
.main .main-bloks__button a {
  font-family: "Lato 700";
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .main__most-popular {
    padding-top: 70px;
  }
  .main .popular-description {
    width: 100%;
  }
}
.main__info {
  padding-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 104px;
}
.main .info__link a {
  font-family: "Red Hat Display 400";
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.main .info__link :after {
  content: url(../../img/Arrow1.svg);
  margin-left: 5px;
}
.main .info__description {
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.05em;
  color: #565656;
}
.main .info__description p:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  .main__info {
    grid-template-columns: 1fr;
    gap: 70px;
    padding-top: 70px;
  }
}

.footer {
  background: #F4F4F4;
  min-height: 300px;
  margin-top: 90px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 10px;
}
.footer__tel-mail {
  display: flex;
  flex-direction: column;
}
.footer__tel-mail h3 {
  font-family: "Red Hat Display 400";
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}
.footer__tel-mail p {
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
.footer__socials {
  display: flex;
  gap: 23px;
  padding-top: 55px;
}
.footer__sosial:hover {
  cursor: url("../../img/cursor.svg"), pointer;
}
.footer__sosial:hover svg {
  background-color: #565656;
}
.footer__sosial:hover path {
  fill: white;
}
.footer__sosial:hover rect {
  stroke: #565656;
}
.footer__copyright {
  margin: 0 auto;
  font-family: "Lato 400";
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
@media (max-width: 320px) {
  .footer .footer {
    margin-top: 54px;
  }
  .footer__contacts {
    flex-direction: column;
    margin-top: 50px;
  }
  .footer__tel-mail {
    align-items: center;
    justify-content: center;
  }
  .footer__tel-mail h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .footer__tel-mail p {
    font-size: 18px;
  }
  .footer__socials {
    align-items: center;
    justify-content: center;
  }
  .footer__copyright {
    font-size: 16px;
    text-align: center;
  }
}