#pageSwiper {
   width: 100vw;
   height: 100vh;
   overflow:hidden ;
}

.page__wrapper {
   display: flex;
   flex-direction: column;
}

.page__pagination {
   position: absolute;
   top: 50%;
   right: 52px;
   transform: translate(0px, -50%);
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 5px;
   border-radius: 10px;
}


.page__bullet {
   width: 10px;
   height: 10px;
   background-color: #ffffff00;
   border: 1px solid rgb(84, 86, 193, 0.8);
   opacity: 1;
   border-radius: 50%;
}

.page__bullet_active {
   background-color: rgb(84, 86, 193, 0.8);
}

// .swiper-pagination-bullets span:nth-child(3) {
//    width: 10px;
//    height: 10px;
//    background-color: #ffffff00;
//    border: 1px solid  rgb(84, 86, 193);
//    opacity: 1;
//    border-radius: 50%;
// }


// .page__pagination [aria-label="Go to slide 2"].page__bullet_active {
//    background-color: rgb(84, 86, 193, 0.8);
// }

// .page__pagination[aria-label="Go to slide 2"][aria-current ="true"] {
//       border:1px solid rgb(232, 39, 39); 
// }


// .page__screen[aria-label="2 / 5"].page__pagination {
//    border:1px solid rgb(232, 39, 39);
// }

.page__pagination.light {
   .page__bullet {
      border: 1px solid white;
   }
   
   .page__bullet_active {
      background-color: white;
   }
}